Project4_SOAP_to_REST/iFlow/wsdl/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://integration.com/customer"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://integration.com/customer"
    name="CustomerService">


    <wsdl:types>

        <xsd:schema
            targetNamespace="http://integration.com/customer"
            elementFormDefault="qualified">

            <xsd:element name="CustomerRequest">

                <xsd:complexType>

                    <xsd:sequence>

                        <xsd:element name="CustomerID" type="xsd:string"/>
                        <xsd:element name="FirstName" type="xsd:string"/>
                        <xsd:element name="LastName" type="xsd:string"/>
                        <xsd:element name="Email" type="xsd:string"/>
                        <xsd:element name="Phone" type="xsd:string"/>
                        <xsd:element name="City" type="xsd:string"/>
                        <xsd:element name="Country" type="xsd:string"/>
                        <xsd:element name="CustomerType" type="xsd:string"/>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="CreatedDate" type="xsd:date"/>

                    </xsd:sequence>

                </xsd:complexType>

            </xsd:element>

            <xsd:element name="CustomerResponse">

                <xsd:complexType>

                    <xsd:sequence>

                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="SystemMessage" type="xsd:string"/>

                    </xsd:sequence>

                </xsd:complexType>

            </xsd:element>

        </xsd:schema>

    </wsdl:types>



    <wsdl:message name="CustomerRequestMessage">

        <wsdl:part
            name="parameters"
            element="tns:CustomerRequest"/>

    </wsdl:message>

    <wsdl:message name="CustomerResponseMessage">

        <wsdl:part
            name="parameters"
            element="tns:CustomerResponse"/>

    </wsdl:message>


    <wsdl:portType name="CustomerPortType">

        <wsdl:operation name="SyncCustomer">

            <wsdl:input
                message="tns:CustomerRequestMessage"/>

            <wsdl:output
                message="tns:CustomerResponseMessage"/>

        </wsdl:operation>

    </wsdl:portType>



    <wsdl:binding
        name="CustomerSoapBinding"
        type="tns:CustomerPortType">

        <soap:binding
            style="document"
            transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="SyncCustomer">

            <soap:operation
                soapAction="SyncCustomer"/>

            <wsdl:input>

                <soap:body use="literal"/>

            </wsdl:input>

            <wsdl:output>

                <soap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>



    <wsdl:service name="CustomerService">

        <wsdl:port
            name="CustomerSoapPort"
            binding="tns:CustomerSoapBinding">

            <soap:address
                location="http://localhost/CustomerService"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>