Project4_SOAP_to_REST/iFlow/wsdl/Schemas/RestResponse.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customerId" type="xs:string" />
        <xs:element name="firstName" type="xs:string" />
        <xs:element name="lastName" type="xs:string" />
        <xs:element name="email" type="xs:string" />
        <xs:element name="phone" type="xs:unsignedLong" />
        <xs:element name="city" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="customerType" type="xs:string" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="createdDate" type="xs:date" />
        <xs:element name="id" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>