project2-csv-to-xml-conversion/artifacts/employee_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="row" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EmpID" type="xs:unsignedByte"/>
                            <xs:element name="FirstName" type="xs:string"/>
                            <xs:element name="LastName" type="xs:string"/>
                            <xs:element name="Department" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- EmpID must be unique -->
        <xs:key name="UniqueEmpID">
            <xs:selector xpath="row"/>
            <xs:field xpath="EmpID"/>
        </xs:key>

    </xs:element>

</xs:schema>